*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
/* Header and navigation styles*/
.nav-title {
font-weight: 800;
font-size: 45px;
}
.text-primary{
    color: rgb(255, 136, 0);
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin: 50px;
    
}
nav ul {

    display: flex;
    align-items: center;
   
}
.header{
    background: #fff8f3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

.btn-primary{
    border: 0;
    padding: 18px 35px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 6px;
    background: #fd6e0a;
}
/* banner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    margin: 200px;
}
.banner-title{
font-size: 85px;
font-weight: 700;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* About section styles */
.about{
margin-top: 130px;
border-radius:#d87f0b ;
border-radius: 10px;
padding: 130px 150px;
background: #fff8f3;
text-align: center;
}
.section-title{
text-align: center;
margin-bottom: 30px;

}
.about-info-container{
display:flex;


}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-discriotion{
font-weight: 700;
font-size: 40px;
color: #474747;
}
.banner-discription{
color: #757575;
font-size:18px ;
margin-bottom: 30px;
}
